<?xml version="1.0"?>
<launch>

  <!-- Configuration of Warthog which you would like to simulate.
       See warthog_description for details. -->
  <arg name="config" default="base" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.3" />
  <arg name="yaw" default="0" />

  <!-- Enable Warthog Package features -->
  <arg name="ekf_localization" default="true" />

  <!-- Load Warthog's and sensores description, controllers, and teleop nodes. -->
  <param name="robot_description"
         command="$(find warthog_description)/scripts/env_run
                  $(find warthog_description)/urdf/configs/$(arg config)
                  $(find xacro)/xacro $(find warthog_simulation)/urdf/warthog_nav.urdf.xacro" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- joint_state_publisher is needed to pushish the suspension joints. -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <!-- Warthog Control -->
  <include file="$(find warthog_control)/launch/control.launch">
    <arg name="enable_ekf"  value="$(arg ekf_localization)" />
  </include>
  <include file="$(find warthog_control)/launch/teleop.launch" />
  <rosparam command="load" file="$(find warthog_simulation)/params/ekf.yaml" />

  <!-- Spawn Warthog -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model warthog -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)" />

</launch>